* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'helvetica neue';
}
html,body {
    height:100%;
    width:100%;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    background: #999;
    gap: 9px;
    section{
        height: 100%;
        background-size: cover;
        background-position: center;
        flex-grow: 1;
        transition: all 0.7s cubic-bezier(0.215, 0.610, 0.355, 1);
        cursor: pointer;
    }
    section:hover{
        flex-grow: 3;
    }
    section:nth-child(1){
        background-image: url(./mod4.jpg);
    }
    section:nth-child(2){
        background-image: url(./mod2.jpg);
    }
    section:nth-child(3){
        background-image: url(./mod1.jpg);
    }
    section:nth-child(4){
        background-image: url(./mod8.jpg);
    }
    section:nth-child(5){
        background-image: url(./mod6.jpg);
    }
    section:nth-child(6){
        background-image: url(./mod5.jpg);
    }
    section:nth-child(7){
        background-image: url(./mod9.jpg);
    }
}